<html>
    <head>
        <title>Example2 | Collect-Demo</title>
    </head>
    <body>
        <h3 align="center">Example 2</h3>
        <div align="center">
            Kindly choose the date to begin data export!<br/>
            <p>Choosing 01-08-2015 returns 200000 entries while 01-08-2017 returns 20000 entries.</p>
            <form action="/example2/fetch" method="post">
                Date: <input type="date" name="date">
                <input type="submit">
            </form>
        </div>
        <div align="center">
            <button><a href="/">Go To Index</a></button>
        </div>
    </body>
</html>