<html>
    <head>
        <title>Example3 | Collect-Demo</title>
    </head>
    <body>
        <h3 align="center">Example 3</h3>
        <div align="center">
            Upload team details!<br/><br/>
            <form action="/example3/upload" enctype="multipart/form-data" method="post">
                <input type="file" name="team_data" id="team_data" accept=".csv">
                <input type="submit">
            </form>
        </div>
        <div align="center">
            <button><a href="/">Go To Index</a></button>
        </div>
    </body>
    <script type='text/javascript' src="{{ url_for('static', filename="progress.js") }}"></script>
</html>