<html>
    <head>
        <title>Example1 | Collect-Demo</title>
    </head>
    <body>
        <h3 align="center">Example 1</h3>
        <div align="center">
            <p align="center">Upload the csv file!</p><br/><br/>
            <form action="/example1/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="csv_data" accept=".csv"/>
                <input type="submit"/>
            </form>
        </div>
        <div align="center">
            <button><a href="/">Go To Index</a></button>
        </div>
    </body>
</html>