<html>
    <head>
        <title>Collect-Demo</title>
    </head>
    <body>
        <div>
            Please choose the example to be tested.
            <form action="/" method="post">
                <select name="example_number">
                    <option value="1" selected>Example 1</option>
                    <option value="2">Example 2</option>
                    <option value="3">Example 3</option>
                </select>
                <input type="submit"/>
            </form>
        </div>
    </body>
</html>